<h2>New tournament coach</h2>

<%= render "form.html", changeset: @changeset,
                        action: tournament_coach_path(@conn, :create) %>

<%= link "Back", to: tournament_coach_path(@conn, :index) %>
