<h2>Listing debate role</h2>

<table class="table">
  <thead>
    <tr>
      <th>Role</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for debate_role <- @debate_role do %>
    <tr>
      <td><%= debate_role.role %></td>

    </tr>
<% end %>
  </tbody>
</table>

<%= link "New debate role", to: debate_role_path(@conn, :new) %>
