<div class="jumbotron">
  <h2>Bienvenidos a DB8'rs</h2>
  <p class="lead">El lugar pefecto para debatir</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <!--
      Aqui podríamos poner un listado de los torneos de debate
      próximos los cuales se puedan ver sin necesidad de que el usuario
      esté loggeado
    -->
  </div>
</div>
